/* Tailwind custom styles for the CallBack component */
.clbk-container {
  @apply flex flex-col items-center justify-center min-h-screen text-gray-800;
  background-image: url("/assets/background2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Jersey 10", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.clbk-title {
  @apply text-xl font-semibold mb-4 text-gray-700;
}

.clbk-pre {
  @apply bg-gray-200 p-4 rounded-md shadow-md w-11/12 max-w-2xl text-sm text-gray-800 overflow-x-auto;
  font-family: "Jersey 10", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: xx-large;
}

@media (max-width: 768px) {
  .clbk-title {
    @apply text-lg;
  }

  .clbk-pre {
    @apply text-xs;
  }
}
