.lbmain {
    background-color: #5600ff;
    min-height: 90vh;
  }
  
  .lbn0 {
    /* @apply flex justify-center items-center; */
    font-family: "Jersey 10", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 0px;
  }

  .lbnbigtopic{
    font-size: 100px;
    color: white
  }
  
  .lbbody {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .lbbody2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00ff00;
    padding: 10px 20px;
    border-radius: 50px;
    width: 80%;
    box-shadow: 2px 5px 0px rgb(0, 0, 0);
    @apply border-black border-[3px];
  }

  .lbbody3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFB700;
    padding: 10px 20px;
    border-radius: 50px;
    width: 80%;
    box-shadow: 2px 5px 0px rgb(0, 0, 0);
    @apply border-black border-[3px];
  }
  
  .lbbody4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2FF00;
    padding: 10px 20px;
    border-radius: 50px;
    width: 80%;
    box-shadow: 2px 5px 0px rgb(0, 0, 0);
    @apply border-black border-[3px];
  }

  .lbbody5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 50px;
    width: 80%;
    box-shadow: 2px 5px 0px rgb(0, 0, 0);
    @apply border-black border-[3px];
  }
  
  .lbbody2img {
    width: 40px;
    height: 40px;
  }
  
  .lbavatar {
    width: 40px;
    height: 40px;
    background-color: #d3d3d3;
    border-radius: 50%;
    margin: 0 10px;
  }
  
  .lbtext {
    flex: 1;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
  }
  
  .lbscore {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
  }

  .lbnumber {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 11px;
  }


  @media (max-width: 768px) {
    .lbn0 {
      display: none;
    }

    .lbbody{
      margin-top: 20px;
    }
    .lbfooter{
      display: none;
    }
  }
  
  